/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(246, 248, 249);
}

/* Header */
header {
  background-color: white;
}

.logo-container {
  padding: 10px 20px;
}

.logo-container > h1 {
  display: inline-block;
  font-size: 40px;
}

.va-m {
  vertical-align: middle;
}

/* Main */
.container {
  width: 800px;
  background-color: white;
  margin: 0 auto 2px;
}

.btn-container {
  margin-top: 50px;
  padding: 20px 50px 10px;
}

.btn-container > button {
  padding: 8px 15px;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
}

.btn-container > .btn-enabled {
  background-color: rgb(71, 173, 241);
  color: white;
  border: 2px solid rgb(71, 173, 241);
}

.btn-container > .btn-disabled {
  background-color: white;
  color: lightgray;
  border: 2px solid lightgray;
}
