/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(246, 248, 249);
}

/* Header */
header {
  background-color: white;
}

.logo-container {
  padding: 10px 20px;
}

.logo-container > h1 {
  display: inline-block;
  font-size: 40px;
}

.va-m {
  vertical-align: middle;
}

/* Main */
.container {
  width: 1200px;
  background-color: white;
  margin: 0 auto 2px;
}

.btn-container {
  margin-top: 50px;
  padding: 20px 50px 10px;
}

.btn-container > button {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
}

.btn-container > .btn-enabled {
  background-color: rgb(71, 173, 241);
  color: white;
  border: 2px solid rgb(71, 173, 241);
}

.btn-container > .btn-disabled {
  background-color: white;
  color: lightgray;
  border: 2px solid lightgray;
}

.tasks-container {
  color: rgb(68, 72, 81);
  padding: 30px 50px;
}

.task-section {
  margin-bottom: 30px;
}

.task-section-title {
  font-size: 34px;
  font-weight: bold;
}

.task-section-title::before {
  content: '\25BC';
  font-size: 24px;
}

.tasks {
  font-size: 21px;
  margin-top: 10px;
}

.task {
  margin-bottom: 15px;
}

.task-bullet {
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 5px;
  margin: 0 10px;
}

.task-completed {
  color: rgb(105, 194, 172);
  border: 2px solid rgb(105, 194, 172);
}

.task-completed::after {
  content: '\2713';
}

.task-failed {
  color: rgb(235, 89, 82);
  border: 2px solid rgb(235, 89, 82);
}

.task-failed::after {
  content: '\2715';
}

.tag {
  font-size: 16px;
  color: white;
  border-radius: 15px;
  padding: 8px 12px;
}

.tag-blue {
  background-color: rgb(69, 171, 234);
}

.tag-purple {
  background-color: rgb(156, 114, 228);
}

.tag-green {
  background-color: rgb(100, 192, 169);
}

.tag-orange {
  background-color: rgb(242, 158, 51);
}

.tag-pink {
  background-color: rgb(216, 99, 161);
}

.tag-lime {
  background-color: rgb(176, 201, 38);
}
